PipelineLayout(
    sets: [
        Inline(
            DescriptorSetLayout(
                push_descriptor: true,
                bindings: [
                    Binding(
                        binding: 0,
                        ty: AccelerationStructure,
                        stages: [RayGen]
                    ),
                    Binding(
                        binding: 1,
                        ty: StorageImage,
                        stages: [Miss, ClosestHit, RayGen]
                    ),
                    Binding(
                        binding: 2,
                        ty: UniformBuffer,
                        stages: [Miss, ClosestHit, RayGen]
                    ),
                    Binding(
                        binding: 3,
                        ty: UniformBuffer,
                        stages: [RayGen, Miss]
                    ),
                    Binding(
                        binding: 4,
                        ty: SampledImage,
                        stages: [Miss]
                    ),
                    Binding(
                        binding: 5,
                        ty: SampledImage,
                        stages: [Miss]
                    ),
                    Binding(
                        binding: 6,
                        ty: Sampler,
                        stages: [Miss, RayGen]
                    ),
                    Binding(
                        binding: 7,
                        ty: StorageImage,
                        stages: [RayGen]
                    ),
                    Binding( // Albedo
                        binding: 8,
                        ty: StorageImage,
                        stages: [RayGen, Miss, ClosestHit]
                    ),
                    Binding( // Normal
                        binding: 9,
                        ty: StorageImage,
                        stages: [RayGen, Miss, ClosestHit]
                    ),
                    Binding( // Depth
                        binding: 10,
                        ty: StorageImage,
                        stages: [RayGen, Miss, ClosestHit]
                    ),
                    Binding( // Albedo sRGB (sampled read in shadow pass)
                        binding: 11,
                        ty: SampledImage,
                        stages: [Miss, RayGen]
                    ),
                ]
            )
        )
    ],
    push_constants: {
        RayGen: (0, 4)
    }
)
