RayTracingPipeline(
    stages: [
        RayGen (
            shader: (
                path: "bazel://crates/pbr/shaders:pbr.spv",
                entry_point: "rayGenShader"
            )
        ),
        Miss (
            shader: (
                path: "bazel://crates/pbr/shaders:pbr.spv",
                entry_point: "missShader",
            )
        ),
    ],
    max_ray_payload_size: 4,
    max_hit_attribute_size: 4,

    layout: Path("bazel://crates/pbr/shaders:pbr.playout.ron"),
)
