ComputePipeline(
    shader: (
            path: "shaders/vox/blas_builder_copy_coords.spv",
            entry_point: "main",
        ),
    layout: Inline(
        PipelineLayout(
            sets: [
                Inline(
                    DescriptorSetLayout(
                        push_descriptor: true,
                        bindings: [
                            Binding(
                                binding: 0,
                                ty: StorageBuffer,
                                stages: [Compute]
                            ),
                            Binding(
                                binding: 1,
                                ty: StorageBuffer,
                                stages: [Compute]
                            )
                        ]
                    )
                )
            ],
            push_constants: {
                Compute: (0, 4)
            }
        )
    ),
)
