RayTracingPipeline (
    stages: [
        HitGroup (
            ty: Aabbs,
            intersection: (
                path: "bazel://dust/crates/vox/shaders/vox_final_gather.spv",
                entry_point: "intersectionShader",
            ),
            closest_hit: (
                path: "bazel://dust/crates/vox/shaders/vox_final_gather.spv",
                entry_point: "closestHitShader",
            ),
            param_size: 32
        ),
    ],

    layout: Path("bazel://dust/crates/pbr/shaders/pbr.playout.bin"),
    max_ray_payload_size: 4,
    max_hit_attribute_size: 4,
)
