RayTracingPipeline (
    stages: [
        HitGroup (
            ty: Aabbs,
            intersection: (
                path: "bazel://dust/crates/vox/shaders/vox_shadow.spv",
                entry_point: "shadowIntersectionShader",
            ),
            param_size: 32
        ),
        Miss (
            shader: (
                path: "bazel://dust/crates/vox/shaders/vox_shadow.spv",
                entry_point: "shadowMissShader",
            )
        ),
    ],

    layout: Path("bazel://dust/crates/pbr/shaders/pbr.playout.bin"),
    max_ray_payload_size: 4,
    max_hit_attribute_size: 4,
)
