RayTracingPipeline (
    stages: [
        HitGroup (
            ty: Aabbs,
            intersection: (
                path: "bazel://crates/vox/shaders:vox_shadow.spv",
                entry_point: "main",
            ),
            param_size: 24
        ),
    ],

    layout: Path("bazel://crates/pbr/shaders:pbr.playout.bin"),
    max_ray_payload_size: 4,
    max_hit_attribute_size: 4,
)
