ComputePipeline(
    shader: (
        path: "bazel://dust/crates/pbr/shaders/sky_atmosphere/sky_view_lut.spv",
        entry_point: "main",
    ),
    layout: Path("bazel://dust/crates//pbr/shaders/sky_atmosphere/sky_view_lut.playout.bin"),
    disable_optimization: false,
)
