ComputePipeline(
    shader: (
        path: "bazel://crates/pbr/shaders/sky_atmosphere:transmittance_lut.spv",
        entry_point: "main",
    ),
    layout: Path("bazel://crates//pbr/shaders/sky_atmosphere:transmittance_lut.playout.bin"),
    disable_optimization: false,
)
