RayTracingPipeline (
    stages: [
        HitGroup (
            ty: Aabbs,
            closest_hit: (
                path: "embedded://dust_vox/shaders/pbr.spv",
                entry_point: "closestHitShader",
            ),
            intersection: (
                path: "embedded://dust_vox/shaders/pbr.spv",
                entry_point: "intersectionShader",
            ),
            param_size: 24
        ),
    ],
 
    layout: Path("embedded://dust_pbr/shaders/pbr.playout.ron"),
    max_ray_payload_size: 4,
    max_hit_attribute_size: 4,
)
