PipelineLayout(
    sets: [
        Inline(
            DescriptorSetLayout(
                push_descriptor: true,
                bindings: [
                    Binding( // hdrInput
                        binding: 0,
                        ty: StorageImage,
                        stages: [Compute],
                    ),
                    Binding( // exposureImage (1x1 R16F, read + write)
                        binding: 1,
                        ty: StorageImage,
                        stages: [Compute],
                    ),
                    Binding( // AutoExposureCtl
                        binding: 2,
                        ty: UniformBuffer,
                        stages: [Compute],
                    ),
                ],
            ),
        ),
    ],
    push_constants: {},
)
