PipelineLayout(
    sets: [
        Inline(
            DescriptorSetLayout(
                push_descriptor: true,
                bindings: [
                    Binding(
                        binding: 0,
                        ty: AccelerationStructure,
                        stages: [RayGen]
                    ),
                    Binding(
                        binding: 1,
                        ty: StorageImage,
                        stages: [Miss, ClosestHit, RayGen]
                    ),
                    Binding(
                        binding: 2,
                        ty: UniformBuffer,
                        stages: [Miss, ClosestHit, RayGen]
                    ),
                ]
            )
        )
    ],
    push_constants: {
        RayGen: (0, 4)
    }
)
