ComputePipeline(
    shader: (
        path: "bazel://dust/crates/pbr/shaders/tonemap.spv",
        entry_point: "main",
    ),
    layout: Inline(
        PipelineLayout(
            sets: [
                Inline(
                    DescriptorSetLayout(
                        push_descriptor: true,
                        bindings: [
                            Binding(
                                binding: 0,
                                ty: StorageImage,
                                stages: [Compute]
                            ),
                            Binding(
                                binding: 1,
                                ty: StorageImage,
                                stages: [Compute]
                            ),
                            Binding(
                                binding: 2,
                                ty: StorageImage,
                                stages: [Compute]
                            )
                        ]
                    )
                )
            ],
            push_constants: {
                Compute: (0, 4)
            }
        )
    ),
)
